:root {
  /* font-family: monospace, sans-serif; */
  --base-size: 1rem;
  --scale: 1.2;
  --h5: calc(var(--base-size) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));

  --black: hsl(0, 0%, 15%);
  --lightgray: hsl(240, 7%, 91%);
  --gray: hsl(240, 0.43%, 54.71%);
  --lime: hsl(101, 85%, 56%);
  --olive: hsl(56.09, 48.94%, 36.86%);
  --brown: hsl(44.29, 48.84%, 16.86%);
  --purple: rebeccapurple;
  --border-radius-s: 4px;
  --border-radius-m: 7px;
  --border-radius-l: 10px;

  /* nice color set */
  /* https://www.joshwcomeau.com/css/designing-shadows/ */
  --lightblue: hsl(221, 100%, 91%);
  --blue: hsl(220deg 84% 73%);
  --darkblue: hsl(221deg 64% 58%);
  --darkgray: hsl(0deg 0% 0% / 0.25);
  --white: hsl(0, 0%, 100%);
  --hover-opacity: 0.75;

  --shadow-l: 3px 9px 24px;
  --shadow-m: 2px 6px 18px;
  --shadow-s: 1px 2px 6px;

  --success: hsl(88, 50%, 53%);
  --warn: hsl(45, 100%, 50%);
  --error: hsl(14, 100%, 57%);

  line-height: 1.4;
}

h1,
::part(h1) {
  font-size: var(--h1);
}

h2,
::part(h2) {
  font-size: var(--h2);
}

h3,
::part(h3) {
  font-size: var(--h3);
}

h4,
::part(h4) {
  font-size: var(--h4);
}

h5,
::part(h5) {
  font-size: var(--h5);
}

body {
  background: var(--blue);
  color: var(--white);
  display: grid;
  gap: 2rem;
  grid-template-rows: 50px auto;
  height: 100vh;
  padding: 2rem;
}

header {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 3rem;
}

nav {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.75rem;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
}

small,
.text-small {
  font-size: calc(var(--base-size) / var(--scale));
}

a {
  color: var(--white);
}

.app-title a {
  text-decoration: none;
  white-space: nowrap;
}

.toast {
  align-items: center;
  animation: slide-in 0.35s 0.25s ease-out forwards;
  background: var(--white);
  border-radius: var(--border-radius-s);
  bottom: 50px;
  filter: drop-shadow(var(--shadow-m) var(--darkblue));
  display: flex;
  font-size: var(--small);
  height: 52px;
  justify-content: flex-start;
  padding: 0.25rem 1rem 0.25rem 0.75rem;
  position: fixed;
  right: -100%;
  width: 230px;
  z-index: 30;
}

.toast.success {
  border-left: 9px solid var(--success);
  color: var(--success);
}

.toast.warn {
  border-left: 9px solid var(--warn);
  color: var(--warn);
}

.toast.error {
  border-left: 9px solid var(--error);
  color: var(--error);
}

@media (max-width: 490px) {
  body {
    padding: 1.25rem;
  }

  h1 {
    font-size: var(--h2);
  }
}

@keyframes slide-in {
  to {
    right: 20px;
  }
}
