section {
  display: grid;
  grid-template-columns: 320px auto;
  gap: 1rem;
}

ul li {
  overflow-wrap: anywhere;
}

button {
  display: block;
  width: 100%;
}

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
