:root {
  background: var(--black);
}

body *:not(button) {
  color: var(--lime);
}

textarea {
  background: var(--black);
}

button {
  border: var(--lime);
  background: var(--lime);
  color: var(--black);
}
